.footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  position: relative;

  &__copyright,
  &__up,
  &__github-link {
    color: $red;
    text-transform: uppercase;
    font-size: .8em;
    margin: 0;
    font-weight: 700;
  }

  &__copyright,
  &__github-link {
    border: 1px solid $black;
    padding: 1.5em 4em;
    width: 30%;
    text-align: center;
  }

  &__up {
    cursor: pointer;
    padding: 1.5em 0;
    font-size: 1.5em;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-80%) rotate(-90deg);

    &:after {
      content: "";
      display: block;
      width: 4em;
      height: 2px;
      background: $black;
      position: relative;
      top: -.5em;
      left: -110%;
    }

    > a {
      color: $red;
      text-decoration: none;
    }
  }

  &__github-link {
    > a {
      text-decoration: none;
      color: $red;
    } 
  }
}


// MEDIA QUERIES

// @900px
@media all and (max-width: 900px) {
  .footer {
    &__copyright,
    &__github-link {
      font-size: .6em;
      padding: 1.5em 4em;
      width: 25%;
    }
  }
}

// @580px
@media all and (max-width: 580px) {
  .footer {
    &__copyright,
    &__github-link {
      font-size: .4em;
      padding: 1.2em 3em;
      width: 25%;
    }

    &__up {
      padding: 1em 0;
      font-size: 1em;
      top: 0;
      left: 50%;
  
      &:after {
        width: 4em;
        height: 1px;
        top: -.5em;
        left: -110%;
      }
    }  
  }
}


// @400x
@media all and (max-width: 400px) {
  .footer {
    &__copyright,
    &__github-link {
      font-size: .4em;
      padding: .8em 1em;
      width: 35%;
    }

    &__up {
      display: none;
    }  
  }
}
