@import "~normalize.css";
@import "common/variables-mixins-helpers";

::selection {
  color: #fff; 
  background: rgba(215, 27, 20, 1);
}

.container {
  @extend .clearfix;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

.site {
  @extend .clearfix;
  font-family: 'Lato', sans-serif;
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

// MEDIA QUERIES

// @780px
@media all and (max-width: 780px) {
  .site {
    width: 90%;
  }
}
