@import "~normalize.css";
@import "variables-mixins-helpers";
@import "site-header";
@import "projects-section"; 
@import "footer";

.site {
  font-family: 'Lato', sans-serif;
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

.video-container {
  max-width: 50%;
  position: absolute;
  right: 0;
  top: 0;
  
  > video {
    filter: grayscale(100%);
    width: 100%;
  }
}
