.about-info {
  &__name {
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 900;
    padding-left: calc((100% / 12) * 1);
  }

  &__description {
    width: calc((100% / 3) * 2);
    margin: 0 auto;
    line-height: 1.6;
    text-align: justify;
  }

  &__links {
    width: calc((100% / 3) * 2);
    margin: 5em auto;
    font-size: .8em;
    display: flex;
    justify-content: space-between;

    > a {
      color:$red;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 1px;
      font-weight: 900;
    }

    .fa {
      color: $black;
    }
  }

  &__navigation {
    text-align: center;
    margin-bottom: 4em;

    .fa {
      font-size: .6em;
    }

    > a {
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 900;
      font-size: .75em;
      color: $black;
    }
  }
}

// MEDIA QUERIES

// @780px
@media all and (max-width: 780px) {
  .about-info {
    &__name {
      font-size: 2em;
    }

    &__description {
      width: calc((100% / 12) * 10);
      margin-left: calc((100% / 12) * 1);
    }

    &__links {
      width: calc((100% / 12) * 10);
      margin-left: calc((100% / 12) * 1);
    }
  }
}

// @480px
@media all and (max-width: 480px) {
  .about-info {
    &__name {
      font-size: 1.5em;
      padding-left: 0;
      width: calc((100% / 12) * 11);
    }

    &__description {
      font-size: .8em;
      margin-left: 0;
      width: calc((100% / 12) * 11);
    }

    &__links {
      flex-direction: column;
      text-align: center;

      > a {
        padding: 1em 0;
      }

    }
  }
}
