.contact-form {
  @extend .clearfix;
  width: calc((100% / 12) * 8);
  margin: 2em auto 0;
}

.header-form {
  display: flex;
  justify-content: space-between;
  margin: 2em auto;
}

.group-name,
.group-email {
  display: flex;
  flex-direction: column;
  width: 47.5%;

  &__label {
    padding-left: 7%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
    margin-bottom: -.3em;
    z-index: 100;
  }

  &__field {
    z-index: 50;
    background: #f1f1f1;
    border: none;
    padding: .5em;
    line-height: 2;

    &:focus {
      background: #e1e1e1;
      outline: none;
    }
  }
}

.group-message {
  &__field {
    width: calc(100% - 4em - 5px);
    max-width:  calc(100% - 4em - 5px);
    border: none;
    border: 3px solid $red;
    resize: vertical;
    padding: 2em;

    &:focus {
      outline: none;
    }

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: $black;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: $black;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: $black;
    }
    &:-moz-placeholder { /* Firefox 18- */
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: $black;
    }
  }
}

.form-submit {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  margin: 1em 0;

  .dash {
    width: 4em;
    height: 3px;
    background: $black;
    display: block;
    transform: translateY(calc(.5em + 1px));
  }

  &__btn {
    background: #fff;
    box-shadow: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
  }
}

// MEDIA QUERIES

// @900px

@media all and (max-width: 900px) {
  .contact-form {
    width: calc((100% / 12) * 10);
  }
}

// @480px
@media all and (max-width: 480px) {
  .contact-form {
    width: calc((100% / 12) * 10);
    margin-left: 0;
  }

  .header-form {
    flex-direction: column;
  }

  .group-name,
  .group-email {
    width: 100%;
  }

  .group-name {
    margin-bottom: 1.2em;
  }
}

// @380px
@media all and (max-width: 480px) {
  .contact-form {
    width: calc((100% / 12) * 12);
    margin-left: 0;
  }

  .header-form {
    flex-direction: column;
  }

  .group-name,
  .group-email {
    width: 100%;
  }

  .group-name {
    margin-bottom: 1.2em;
  }
}


