<section class="projects">
  <p class="projects__title">Projetos</p>

  <div class="project sleeping-swan">
    <h3 class="project__title">Wanderlust</h3>

    <div class="project__img">
      <img src="../../images/wanderlust-thumb.jpg" alt="">
    </div>
  </div>

  <div class="project in-time">
    <h3 class="project__title">In time . Droeloe</h3>

    <div class="project__img">
      <img src="../../images/in-time-thumb.jpg" alt="">
    </div>
  </div>

  <div class="project dota-quotes">
    <h3 class="project__title">Dota quotes</h3>

    <div class="project__img">
      <img src="../../images/dota-quotes-thumb.jpg" alt="">
    </div>
  </div>
</section>
