<!-- Sleeping Swan -->
<div class="project-info sleeping-swan">
  <div class="info-container">
    <div class="info-container__left info-left">
      <div class="info-left__img">
        <img src="../../images/project_img.png" alt="">
      </div>
    </div>
    
    <section class="info-container__right info-right">
      <div class="info-right__data project-data">
        <h1 class="project-data__title">Sleeping Swan</h1>

        <p class="project-data__text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Tempore voluptatibus ipsam quaerat at ipsa perferendis error ad repellat ullam harum!
        </p>

        <div class="project-data__links">
          <a href="">Demo <i class="fa fa-external-link" aria-hidden="true"></i></a>
          <a href="">Código <i class="fa fa-code" aria-hidden="true"></i></a>
        </div>
      </div>

      <button class="project-data__close-btn"><i class="fa fa-chevron-left" aria-hidden="true"></i> voltar para projetos</button>
    </section>
  </div>
</div>

<!-- Dota Quotes -->
<div class="project-info dota-quotes">
  <div class="info-container">

    <div class="info-container__left info-left">
      <div class="info-left__img">
        <img src="../../images/project_img.png" alt="">
      </div>
    </div>
    
    <section class="info-container__right info-right">
      <div class="info-right__data project-data">

        <h1 class="project-data__title">Dota Quotes</h1>

        <p class="project-data__text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Tempore voluptatibus ipsam quaerat at ipsa perferendis error ad repellat ullam harum!
        </p>

        <div class="project-data__links">
          <a href="">Demo <i class="fa fa-external-link" aria-hidden="true"></i></a>
          <a href="">Código <i class="fa fa-code" aria-hidden="true"></i></a>
        </div>
      </div>

      <button class="project-data__close-btn"><i class="fa fa-chevron-left" aria-hidden="true"></i> voltar para projetos</button>
    </section>
  </div>
</div>

<!-- In Time -->
<div class="project-info in-time">
  <div class="info-container">

    <div class="info-container__left info-left">
      <div class="info-left__img">
        <img src="../../images/project_img.png" alt="">
      </div>
    </div>
    
    <section class="info-container__right info-right">
      <div class="info-right__data project-data">

        <h1 class="project-data__title">In Time</h1>

        <p class="project-data__text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Tempore voluptatibus ipsam quaerat at ipsa perferendis error ad repellat ullam harum!
        </p>

        <div class="project-data__links">
          <a href="">Demo <i class="fa fa-external-link" aria-hidden="true"></i></a>
          <a href="">Código <i class="fa fa-code" aria-hidden="true"></i></a>
        </div>
      </div>

      <button class="project-data__close-btn"><i class="fa fa-chevron-left" aria-hidden="true"></i> voltar para projetos</button>
    </section>
  </div>
</div>
