<section class="projects">
  <p class="projects__title">Projetos</p>

  <div class="project sleeping-swan">
    <h3 class="project__title">Like a sleeping swan</h3>

    <div class="project__img">
      <img src="../../images/vaquinea.jpg" alt="">
    </div>
  </div>

  <div class="project its-time">
    <h3 class="project__title">It's time . Droeloe</h3>

    <div class="project__img">
      <img src="../../images/vaquinea.jpg" alt="">
    </div>
  </div>

  <div class="project dota-quotes">
    <h3 class="project__title">Dota quotes</h3>

    <div class="project__img">
      <img src="../../images/vaquinea.jpg" alt="">
    </div>
  </div>
</section>
