<!-- Wanderlust -->
<div class="project-info sleeping-swan">
  <div class="info-container">
    <div class="info-container__left info-left">
      <div class="info-left__img">
        <img src="../../images/wanderlust.jpg" alt="">
      </div>
    </div>
    
    <section class="info-container__right info-right">
      <div class="info-right__data project-data">
        <h1 class="project-data__title">Wanderlust</h1>

        <p class="project-data__text">
          Projeto pessoal feito por diversão e aprendizado.
          Desenvolvido com HTML, SCSS, FullPage.js, Owl.js e Webpack pra bundle.
        </p>

        <div class="project-data__links">
          <a href="http://sdq-wanderlust.surge.sh/" target="_blank">Online <i class="fa fa-external-link" aria-hidden="true"></i></a>
          <a href="https://github.com/sdq-sts/site--wanderlust" target="_blank">Código <i class="fa fa-code" aria-hidden="true"></i></a>
        </div>
      </div>

      <button class="project-data__close-btn"><i class="fa fa-chevron-left" aria-hidden="true"></i> voltar para projetos</button>
    </section>
  </div>
</div>

<!-- In time . Droeloe -->
<div class="project-info in-time">
  <div class="info-container">

    <div class="info-container__left info-left">
      <div class="info-left__img">
        <img src="../../images/in-time.jpg" alt="">
      </div>
    </div>
    
    <section class="info-container__right info-right">
      <div class="info-right__data project-data">

        <h1 class="project-data__title">In time</h1>

        <p class="project-data__text">
          Site criado para animar elementos a partir de uma música.
          Foi usado HTML, SCSS, Three.js e webpack pra bundle.
        </p>

        <div class="project-data__links">
          <a href="http://sdq-in-time.surge.sh/" target="_blank">Online <i class="fa fa-external-link" aria-hidden="true"></i></a>
          <a href="https://github.com/sdq-sts/site--in-time" target="_blank">Código <i class="fa fa-code" aria-hidden="true"></i></a>
        </div>
      </div>

      <button class="project-data__close-btn"><i class="fa fa-chevron-left" aria-hidden="true"></i> voltar para projetos</button>
    </section>
  </div>
</div>

<!-- Dota quotes -->
<div class="project-info dota-quotes">
  <div class="info-container">

    <div class="info-container__left info-left">
      <div class="info-left__img">
        <img src="../../images/dota-quotes.jpg" alt="">
      </div>
    </div>
    
    <section class="info-container__right info-right">
      <div class="info-right__data project-data">

        <h1 class="project-data__title">Dota quotes</h1>

        <p class="project-data__text">
          Site criado como projeto do Free Code Camp onde mostra aleatoriamente frases do jogo dota.
          Foi usado HTML, SCSS e Javascript e Webpack pra bundle.
        </p>

        <div class="project-data__links">
          <a href="http://sdq-dota-quotes.surge.sh/" target="_blank">Online <i class="fa fa-external-link" aria-hidden="true"></i></a>
          <a href="https://github.com/sdq-sts/site--dota-quotes" target="_blank">Código <i class="fa fa-code" aria-hidden="true"></i></a>
        </div>
      </div>

      <button class="project-data__close-btn"><i class="fa fa-chevron-left" aria-hidden="true"></i> voltar para projetos</button>
    </section>
  </div>
</div>
