<header class="site__header header">
  <div class="vertical-red-bar"></div>
  <h1 class="header__title header-title">
    <span class="header-title__first-name">sdq</span><span class="header-title__last-name">sts</span>
  </h1>
  <p class="header__description header-description">desenvolvedor front-end</p>

  <nav class="navigation">
    <ul class="navigation__list list">
      <li class="list__item"><a href="sobre.html">sobre</a></li>
      <li class="list__item"><a href="contato.html">contato</a></li>
    </ul>
  </nav>
</header>
