// Variables
$red: #D71B14;
$gray: #F1F1F1;
$black: #000;

// Helpers
.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Mixins
@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Animations
@keyframes grow-v-bar {
  0% {
    width: 0;
  }

  100% {
    width: var(--red-bar-width);
  }
}

@keyframes show-cover {
  0% {
    transform: translateX(101%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes hide-cover {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-101%);
  }
}

@keyframes page--grow-red-bar {
  0% {
    width: 0;
  }

  100% {
    width: 55vh;
  }
}


